@import url('https://fonts.googleapis.com/css?family=Cutive+Mono|Dosis&display=swap');

*{
    font-family: 'Cutive Mono', monospace;

}
body {
    text-align: center;

    width: 100vw;
    height: 100vh;
}

#header {
    font-family: 'Dosis', sans-serif;
}

.wrapper {
    border: 2px solid black;
    display: grid;
    grid-template-columns: 1.5fr 1fr 1.5fr;
    text-align: center;
    height: 100%;
    width: 100%;
    align-items: center;
}

#villainContainer {
    grid-column-start: 3;
    border: 2px solid black;
    width: 100%;
}

#heroContainer {
    grid-column-start: 1;
    border: 2px solid black;
    width: 100%;
}

#gameOver {
    grid-column-start: 2;
}


/* Container for skill bars */

.container {
    margin: 10px auto;
    box-sizing: border-box;
    width: 200px;
    /* Full width */
    background-color: #ddd;
    /* Grey background */
}

.skills {
    box-sizing: border-box;
    text-align: right;
    /* Right-align text */
    padding-top: 10px;
    /* Add top padding */
    padding-bottom: 10px;
    /* Add bottom padding */
    color: white;
    /* White text color */
}

.villainAttack {
    animation-name: vAttack;
    animation-duration: 0.5s;
}

.heroAttack {
    animation-name: hAttack;
    animation-duration: 0.5s;
}

@keyframes vAttack {
    from {
        grid-column-start: 3;
    }
    to {
        grid-column-start: 2;
    }
}
@keyframes hAttack {
    from {
        grid-column-start: 1;
    }
    to {
        grid-column-start: 2;
    }
}

/* #heroContainer > .damage {
    position: absolute;
    left: 250px;
    bottom: 335px;
    /* animation-name: dealDamage;
    animation-duration: 1s; */
} */

@keyframes dealDamage {
    from {
        bottom: 335px;
    }
    to {
        bottom: 7770px;
    }
}